apiVersion: v1
kind: Service
metadata:
  name: my-release-wordpress
  labels:
    app: nginx
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      name: http
    - port: 9113
      targetPort: 9113
      name: metrics
  selector:
    app: nginx
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        # Main Nginx Container
        - name: nginx
          image: {{ .Values.images.nginx }}
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          volumeMounts:
            - name: config-volume
              mountPath: /opt/openresty/nginx/conf/nginx.conf
              subPath: nginx.conf
            - name: wp-storage
              mountPath: /var/www/html
        
        # Sidecar: Nginx Prometheus Exporter (Objective #2)
        # Converts /stub_status to Prometheus metrics
        - name: nginx-exporter
          image: nginx/nginx-prometheus-exporter:0.11.0
          args:
            - -nginx.scrape-uri=http://127.0.0.1:80/stub_status
          ports:
            - containerPort: 9113
              name: metrics
      volumes:
        - name: config-volume
          configMap:
            name: nginx-conf
        - name: wp-storage
          persistentVolumeClaim:
            claimName: wp-pvc
