apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
data:
  nginx.conf: |
    worker_processes 1;
    events { worker_connections 1024; }
    http {
        include       mime.types;
        default_type  application/octet-stream;
        sendfile        on;
        keepalive_timeout  65;

        server {
            listen 80;
            server_name localhost;

            # 1. Metrics Endpoint for Prometheus (Objective #2)
            location /stub_status {
                stub_status;
                allow all;
            }

            # 2. Proxy to WordPress (Objective #1)
            location / {
                root           /var/www/html;
                index          index.php index.html index.htm;
                
                # Proxy PHP requests to WordPress container
                location ~ \.php$ {
                    fastcgi_pass   wordpress-service:9000;
                    fastcgi_index  index.php;
                    include        /opt/openresty/nginx/conf/fastcgi_params;
                    fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
                }
            }
        }
    }
