apiVersion: v1
kind: Service
metadata:
  name: wordpress-service
spec:
  ports:
    - port: 9000
  selector:
    app: wordpress
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
spec:
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
        - name: wordpress
          image: {{ .Values.images.wordpress }}
          env:
            - name: WORDPRESS_DB_HOST
              value: mysql-service:3306
            - name: WORDPRESS_DB_USER
              value: {{ .Values.mysql.user }}
            - name: WORDPRESS_DB_PASSWORD
              value: {{ .Values.mysql.password }}
            - name: WORDPRESS_DB_NAME
              value: {{ .Values.mysql.dbName }}
            - name: WORDPRESS_CONFIG_EXTRA
              value: {{ .Values.wordpress.configExtra | quote }}
          volumeMounts:
            - name: wp-storage
              mountPath: /var/www/html
      volumes:
        - name: wp-storage
          persistentVolumeClaim:
            claimName: wp-pvc
